$primary-color: #a5a5a5;
$secondary-color: #000;
$accent-color: #005c53;
$night-color: #1c1c3c;
$day-color: white;
$transition-time: 0.3s;

body {
	transition: background-color $transition-time, color $transition-time;
	color: $primary-color;
	background-color: $secondary-color;

	&.light {
		color: $night-color;
		background-color: $day-color;
	}

	&.dark {
		color: $day-color;
		background-color: $night-color;
	}
}
