$primary-color: #a5a5a5;
$secondary-color: #000;
$accent-color: #005c53;
$night-color: #1c1c3c;
$day-color: white;
$transition-time: 0.3s;
$danger: #ff0505;

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	border-radius: 8px;
	background-color: #e7e7e7;
	border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: $primary-color;
}

::-webkit-scrollbar-thumb:hover {
	background-color: darken($primary-color, 10%);
}

body {
	transition: background-color $transition-time, color $transition-time;
	color: $primary-color;
	background-color: $secondary-color;

	&.light {
		color: $night-color !important;
		background-color: $day-color !important;

		.deleteSongBtn {
			color: $night-color !important;
		}
	}

	&.dark {
		color: $day-color !important;
		background-color: $night-color !important;
	}
}
