.switch {
	position: fixed;
	z-index: 100;
	.slider {
		position: absolute;
		height: 60px;
		width: 120px;
		border-radius: 30px;
		background-color: $night-color;
		cursor: pointer;
		transition: $transition-time;
		z-index: 99;
		&:before {
			position: absolute;
			left: 5px;
			bottom: 5px;
			height: 50px;
			width: 50px;
			content: '';
			border-radius: 50%;
			background-color: $day-color;
			transition: $transition-time;
		}
	}
}
#toggle {
	opacity: 0;
	touch-action: none;
	&:checked {
		& ~ .slider {
			background-color: $day-color;
			&:before {
				background-color: $day-color;
				box-shadow: inset -20px -10px 0 0px $night-color;
				transform: translate(60px, 1px);
			}
		}
	}
}

#toggle:checked ~ .slide-block {
	left: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.slide-block {
	height: 100vh;
	width: 150vw;
	position: absolute;
	top: 0;
	background: radial-gradient(circle at top left, #50507f, #1c1c3c);
	transition: 0.5s;
}
.slide-block.slide-out {
	left: -150vw;
	border-bottom-right-radius: 100%;
	border-top-right-radius: 100%;
}
.slide-block.slide-in {
	left: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
